:root {
    --main-color: #121212;
    --secondary-color: red;
    --tertiary-color: #fb8c00;
    --fourth-color: #ffffff;
    --button-color: #1e1e1e;
    --background-color: linear-gradient(90deg,#585858 0,#2c2c2c 30%,#2d2d2d 70%,#585858);
}

body {
    background-color: #1e1e1e;
    color: var(--fourth-color);
    font-size: 14px;
}

#searchBar {
    margin-top: 0;
    margin-bottom: 10px;
}

select {
    margin-top: 70px;
}

input[type="search"] {
    width: 300px;
    margin: 10px;
    background-color: rgb(64, 64, 64);
    color: var(--fourth-color);
    border-collapse: collapse;
    border: 2px solid rgb(104, 104, 104);
}

input[type="search"]:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(64, 64, 64);
    font-family: 'Helvetica', 'sans-serif';
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 500px;
    margin: 10px;
}

td {
    padding: 8px 10px;
    text-align: left;
}

td.name, td.bio {
    border: 1px solid rgb(104, 104, 104);
}

td.name {
    font-family: 'Russo One', 'Helvetica', 'sans-serif';
    color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
}

td.species, td.planet, td.campaign, td.affiliation, td.living {
    width: 50px;
}

td.image {
    width: 100px;
}

td.image img{
    height: 200px;
}